<%- include("partials/head") %> 
<body>
    <%- include("partials/navbar") %>
    <div class="container mt-3 ">
        <div class="row">

            <div class="col-8 offset-2">
                <h1>Edit Task</h1>
                <form class="d-flex " method="POST">
                    <input type="text" class="form-control" id="task" name="task" 
                        required value="<%= Selectedtask.task %>" >
                    <button type="submit" class="btn btn-success ml-3">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>