<%- include("partials/head") %> 
<body>
    <%- include("partials/navbar") %>
        <div class="container">
            <div class="row d-flex justify-content-cente">
                <div class="col-8 offset-2 ">
                    <h1><%= errorType %></h1><small>:(</small>
                    <p><%= errorMsg %></p>
                </div>
            </div>
        </div>
</body>
</html>